#howTo li {display:none;}
#howTo li.active {display: block;}

/*
font-family: 'Sacramento', cursive;
font-family: 'Lato', sans-serif;
*/


h1 {font-family: 'Sacramento', cursive; font-size: 50px;color: #c6c9fc}
h2 {font-family: 'Lato', sans-serif; font-size: 25px; color: #3d82ab;margin-top: 40px;}
li{font-family: 'Lato', sans-serif;font-size: 15px;color: pink;}
a {color:pink ;text-decoration: none;}
a:hover {color:#c6e8fc;}


.alignment {padding-left: 30px;padding-top: 10px;}
