/*font-family: 'Questrial', sans-serif;
font-family: 'Raleway', sans-serif;font-family: 'Cormorant Garamond', serif;
font-family: 'Scheherazade', serif;*/

.me {padding-left: 200px;
padding-top: 20px;
padding-bottom: 100px;}

.topbar {color: #18231d;font:'raleway';font-weight: 300;
font-family: sans-serif; font-size: 20px; align-self: center;
list-style-type: none;
padding-left: 0;
align-items: center;align-items: stretch;}

.container {display: block;width:1100px;}

.left {display: block; float: left; width: 300px;}

.right {display: block; float: right; width: 500px;}

.clear {clear: both;}

#aboutme {
padding-bottom: 5px;
margin-bottom: 5px;
font: 'raleway';
font-weight: 300;
font-family: sans-serif;
font-size: 60px;
color: #18231d;
align-content: center}

#header {
background-color: #f4e6e6;
padding-bottom: 10px;
padding-top: 25px;
height: 40px;
font: 'Questrial';
font-family: sans-serif;
font-size: 20px;
color: #18231d;
letter-spacing: 40px;
align-content: center;

}

#footer {
background-color: #f4e6e6;
padding-top: 18px;
padding-bottom: 10px;
padding-left: 40px;
height: 30px;
font: 'Questrial';
font-family: sans-serif;
font-size: 13px;
color: #18231d;
align-content: center;
}

.main {color: #18231d;font: 'raleway';font-weight: 300;
font-family: sans-serif; font-size: 15px}

body {padding: 0;
margin: 0;}

nav ul {
  color: #18231d;font:'raleway';font-weight: 300;
  font-family: sans-serif; font-size: 10px; align-self: center;
  list-style-type: none;
  padding-left: 0;
  align-items: center;align-items: stretch;
padding-top: 20px;
padding-bottom: 50px;}

nav a {text-decoration:none;  }
nav a:hover {color: #f4e6e6;text-decoration:none;}

img{ max-width: 100%;}

footer p {padding: 25px; }


ul {color: #18231d;font: 'raleway';font-weight: 300;
font-family: sans-serif; font-size: 15px; list-style: circle;
margin: 5px; line-height: 20px;
padding-bottom: 10px;}

/*portfolio layout stuff*/

.gallery li:hover {opacity: 0.5;}

.gallery {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.gallery ul {
  padding: 0;
  margin: 0;
list-style-type: none;

}

.gallery {width:960px;}

.gallery li {
width:300px;
height: 250px;
padding-bottom:100px;
float:left;
}

.resumemain {width: 576px;
margin-left: auto;
margin-right: auto; margin-bottom: 200px;
padding-left: 20px;
border: 2px dotted pink;
line-height: 10px;}

h2 {
font: 'Questrial';
font-family: sans-serif;
font-size: 20px;
color: #18231d;
padding-left: 220px;
padding-top: 25px;
padding-bottom: 25px;
}


h3 {color: #18231d;font: 'raleway';font-weight: 300;
font-family: sans-serif; font-size: 30px; }


/* add clear to make float work, to  make placeholder images do
 http://placehold.it/imagesize */
