header h1 {height: 100px;
padding-top: 50px;
text-align: center;}

nav ul {text-align: center;
width: 100%;
max-width: 960px;
margin-left: auto;
margin-right: auto;}

nav li {text-align: center;
font-size: 32px;
padding: 25px;
padding-top: 15px;
padding-bottom:15px;
display: inline-block;
float: none;
}



.footer {position: fixed;}

.push {display: block; height: 100px;}

/* additional resources: w3schools.com . we are allowed to use stuff from this cite
material icons- font of many icons
check out easyfundcenter.com*/
