/*
font-family: 'Sacramento', cursive;
font-family: 'Lato', sans-serif;
*/

#maintitle{font-family: 'Sacramento', cursive;
color: #163B3D;font-size:60px;}

#table {font-size: 16px;
width: 300px;
border: 3px dotted black;
margin-left: 2px;
}

a{color:#EC7B76;text-decoration: none}
a:hover { color:black}

ul,li,th, td,tr,section,p {font-family: 'Lato', sans-serif;font-size: 16px;}
h2,h3{font-family: 'Sacramento', cursive;font-size: 30px;font-weight: bold;}



.teal-bg {background-color:#28574F}

.white-bg {background-color: white;
padding: 30px}

.pink-text {color:#F7E4D9}

.largetext {font-size: 40px; color:#ED7B76}

.wrapper{
width:960px;
min-height: 400px;
border: 3px solid black;
margin-left: auto;
margin-right: auto;
padding: 20px;
}
