/*
font-family: 'Sacramento', cursive;
font-family: 'Lato', sans-serif;
*/

#maintitle{font-family: 'Sacramento', cursive;
color: gold;font-size:40px}

a{color:green;text-decoration: none}
a:hover { }
a:visited

ul,li,th, td,tr,section,p {font-family: 'Lato', sans-serif;font-size: 16px}
h2,h3{font-family: 'Sacramento', cursive;font-size: 30px;font-weight: bold;}

#table {font-size: 16px;
width: 300px;
border: 2px dotted black;
margin-left: 2px;
}
